<div class="estilogeral">
  <mat-card>
    <img mat-card-image src="./../../../assets/img1.jpg">
        <p> Fernanda  Silva </p>
        <p> Prefeita </p>
        <P>PFDC</P>
      </mat-card>
  <mat-card>
    <img mat-card-image src="./../../../assets/img6.jpg">
    <p> João Souza</p>
    <p> Vereador </p>
    <P>PFDC</P>
  </mat-card>

</div>

<div class="estilogeral">
  <mat-card>
    <img mat-card-image src="./../../../assets/img3.jpg">
      <p> Renata Pereira</p>
      <p>Senadora</p>
      <P>PVSG</P>
  </mat-card>
  <mat-card>
    <img mat-card-image src="./../../../assets/img5.jpg">
    <p> Sérgio Tenório</p>
    <p>Secretário </p>
    <P>PFDC</P>
  </mat-card>

</div>
